<a href="https://colab.research.google.com/github/jodiaz04/Machine-learning---proyectos-/blob/main/solucion_act_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Johan Diaz,
Julian Suarez,
Natalia Arcila

In [2]:
pip install wooldridge

Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 22.1 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from wooldridge) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldridge) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->wooldridge) (1.16.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [3]:
from google.colab import files
import pandas as pd
import wooldridge as wd
import numpy as np

In [7]:
upload= files.upload()

Saving activity_1_ml.xlsx to activity_1_ml.xlsx

In [47]:
pgn = pd.read_excel("/content/activity_1_ml.xlsx")

In [48]:
pgn

      WAGE  EXPER  GENDER FAM_STATUS  TENURE
0    10.00      3    male    MARRIED       2
1     3.50      2  female      alone       0
2     3.30      5  female     single       0
3     5.00     15    male    married       5
4    11.25     28    male    married      25
..     ...    ...     ...        ...     ...
547   3.00      9    male        NaN       0
548   7.63      8  female     single       4
549   4.50     36  female    married       6
550    NaN     28    male    married       3
551   6.36      8    male    married       1

[552 rows x 5 columns]

In [49]:
pgn.duplicated().sum()

17

In [50]:
pgn.drop_duplicates(inplace=True)
pgn.reset_index(drop=True, inplace=True)

In [51]:
pgn.duplicated().sum()

0

In [52]:
pgn

      WAGE  EXPER  GENDER FAM_STATUS  TENURE
0    10.00      3    male    MARRIED       2
1     3.50      2  female      alone       0
2     3.30      5  female     single       0
3     5.00     15    male    married       5
4    11.25     28    male    married      25
..     ...    ...     ...        ...     ...
530   2.90      1    male     single       2
531   3.25     14  female    married       2
532   7.63      8  female     single       4
533    NaN     28    male    married       3
534   6.36      8    male    married       1

[535 rows x 5 columns]

In [53]:
pgn["FAM_STATUS"].unique()

array(['MARRIED', 'alone', 'single', 'married', nan, 'SINGLE'],
      dtype=object)

In [54]:
def estandarizar_fam_status(row):
    valor = str(row['FAM_STATUS'])
    if len(valor) == 1:
        if valor == 'MARRIED':
            valor = 'married'
        elif valor == 'alone':
            valor = 'single'
    return valor

In [55]:
pgn['FAM_STATUS'] = pgn.apply(estandarizar_fam_status, axis=1)

In [56]:
pgn["FAM_STATUS"].unique()

array(['MARRIED', 'alone', 'single', 'married', 'nan', 'SINGLE'],
      dtype=object)

In [57]:
dictio_correct = {"MARRIED":"MARRIED",
"alone":" SINGLE",
"SINGLE":"SINGLE",
"single":"SINGLE",
"married":"MARRIED"}

In [58]:
pgn["FAM_STATUS"]= pgn["FAM_STATUS"].map(dictio_correct)

In [59]:
pgn["FAM_STATUS"].unique()

array(['MARRIED', ' SINGLE', 'SINGLE', nan], dtype=object)

In [60]:
pgn

      WAGE  EXPER  GENDER FAM_STATUS  TENURE
0    10.00      3    male    MARRIED       2
1     3.50      2  female     SINGLE       0
2     3.30      5  female     SINGLE       0
3     5.00     15    male    MARRIED       5
4    11.25     28    male    MARRIED      25
..     ...    ...     ...        ...     ...
530   2.90      1    male     SINGLE       2
531   3.25     14  female    MARRIED       2
532   7.63      8  female     SINGLE       4
533    NaN     28    male    MARRIED       3
534   6.36      8    male    MARRIED       1

[535 rows x 5 columns]

In [68]:
pgn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   WAGE             474 non-null    float64
 1   EXPER            535 non-null    int64
 2   GENDER           532 non-null    object
 3   FAM_STATUS       454 non-null    object
 4   TENURE           535 non-null    int64
 5   GENDER_PROBLEMS  532 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 25.2+ KB

In [69]:
pgn["GENDER"].unique()

array(['male', 'female', 'MALE', 'FEMALE', 'man', 'woman', nan],
      dtype=object)

In [70]:
dictio_correct = {"male":"MALE",
"man":" MALE",
"MALE":"MALE",
"female":"FEMALE",
"woman":"FEMALE",
"FEMALE":"FEMALE"}

In [72]:
pgn["GENDER"]= pgn["GENDER"].map(dictio_correct)

In [73]:
pgn["FAM_STATUS"].unique()

array(['MARRIED', ' SINGLE', 'SINGLE', nan], dtype=object)

In [74]:
pgn

      WAGE  EXPER  GENDER FAM_STATUS  TENURE GENDER_PROBLEMS
0    10.00      3    MALE    MARRIED       2            male
1     3.50      2  FEMALE     SINGLE       0          female
2     3.30      5  FEMALE     SINGLE       0          female
3     5.00     15    MALE    MARRIED       5            male
4    11.25     28    MALE    MARRIED      25            male
..     ...    ...     ...        ...     ...             ...
530   2.90      1    MALE     SINGLE       2            male
531   3.25     14  FEMALE    MARRIED       2          female
532   7.63      8  FEMALE     SINGLE       4          female
533    NaN     28    MALE    MARRIED       3            male
534   6.36      8    MALE    MARRIED       1            male

[535 rows x 6 columns]

In [75]:
pgn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   WAGE             474 non-null    float64
 1   EXPER            535 non-null    int64
 2   GENDER           515 non-null    object
 3   FAM_STATUS       454 non-null    object
 4   TENURE           535 non-null    int64
 5   GENDER_PROBLEMS  532 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 25.2+ KB

In [76]:
def funcion2(row):
  GENDER = row["GENDER"]
  if GENDER == 1:
    return "uno"
  return GENDER

In [77]:
pgn["GENDER_PROBLEMS"] = pgn.apply(funcion2, axis=1)

In [78]:
pgn["GENDER_PROBLEMS"]=pgn["GENDER"].astype(str)

In [81]:
def funcion2(row):
  pgn = row["FAM_STATUS"]
  if pgn == 1:
    return "uno"
  return pgn

In [82]:
pgn["FAM_STATUS_PROBLEMS"] = pgn.apply(funcion2, axis=1)

In [83]:
pgn["FAM_STATUS_PROBLEMS"]=pgn["FAM_STATUS"].astype(str)

In [84]:
pgn["FAM_STATUS"].unique()

array(['MARRIED', ' SINGLE', 'SINGLE', nan], dtype=object)

In [85]:
pgn["FAM_STATUS_PROBLEMS"].unique()

array(['MARRIED', ' SINGLE', 'SINGLE', 'nan'], dtype=object)

In [86]:
pgn["FAM_STATUS_PROBLEMS"]=pgn["FAM_STATUS"].astype(str)

In [87]:
pgn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   WAGE                 474 non-null    float64
 1   EXPER                535 non-null    int64
 2   GENDER               515 non-null    object
 3   FAM_STATUS           454 non-null    object
 4   TENURE               535 non-null    int64
 5   GENDER_PROBLEMS      535 non-null    object
 6   FAM_STATUS_PROBLEMS  535 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 29.4+ KB

In [88]:
pgn.isna().sum()

WAGE                   61
EXPER                   0
GENDER                 20
FAM_STATUS             81
TENURE                  0
GENDER_PROBLEMS         0
FAM_STATUS_PROBLEMS     0
dtype: int64

In [89]:
def funcion2(row):
  WAGE = row["WAGE"]
  if WAGE == 1:
    return "uno"
  return WAGE

In [90]:
pgn["WAGE_PROBLEMS"] = pgn.apply(funcion2, axis=1)

In [91]:
pgn["WAGE_PROBLEMS"]=pgn["WAGE"].astype(str)

In [94]:
pgn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   WAGE                 474 non-null    float64
 1   EXPER                535 non-null    int64
 2   GENDER               515 non-null    object
 3   FAM_STATUS           454 non-null    object
 4   TENURE               535 non-null    int64
 5   GENDER_PROBLEMS      535 non-null    object
 6   FAM_STATUS_PROBLEMS  535 non-null    object
 7   WAGE_PROBLEMS        535 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 33.6+ KB

In [95]:
pgn.isna().sum()

WAGE                   61
EXPER                   0
GENDER                 20
FAM_STATUS             81
TENURE                  0
GENDER_PROBLEMS         0
FAM_STATUS_PROBLEMS     0
WAGE_PROBLEMS           0
dtype: int64

In [96]:
pgn

,WAGE,EXPER,GENDER,FAM_STATUS,TENURE,GENDER_PROBLEMS,FAM_STATUS_PROBLEMS,WAGE_PROBLEMS
0,10.00,3,MALE,MARRIED,2,MALE,MARRIED,10.0
1,3.50,2,FEMALE,SINGLE,0,FEMALE,SINGLE,3.5
2,3.30,5,FEMALE,SINGLE,0,FEMALE,SINGLE,3.299999952316284
3,5.00,15,MALE,MARRIED,5,MALE,MARRIED,5.0
4,11.25,28,MALE,MARRIED,25,MALE,MARRIED,11.25
...,...,...,...,...,...,...,...,...
530,2.90,1,MALE,SINGLE,2,MALE,SINGLE,2.900000095367432
531,3.25,14,FEMALE,MARRIED,2,FEMALE,MARRIED,3.25
532,7.63,8,FEMALE,SINGLE,4,FEMALE,SINGLE,7.630000114440918
533,NaN,28,MALE,MARRIED,3,MALE,MARRIED,nan
534,6.36,8,MALE,MARRIED,1,MALE,MARRIED,6.360000133514404

In [97]:
pgn_con_valores_predeterminados = pgn.fillna(0)

In [98]:
pgn

,WAGE,EXPER,GENDER,FAM_STATUS,TENURE,GENDER_PROBLEMS,FAM_STATUS_PROBLEMS,WAGE_PROBLEMS
0,10.00,3,MALE,MARRIED,2,MALE,MARRIED,10.0
1,3.50,2,FEMALE,SINGLE,0,FEMALE,SINGLE,3.5
2,3.30,5,FEMALE,SINGLE,0,FEMALE,SINGLE,3.299999952316284
3,5.00,15,MALE,MARRIED,5,MALE,MARRIED,5.0
4,11.25,28,MALE,MARRIED,25,MALE,MARRIED,11.25
...,...,...,...,...,...,...,...,...
530,2.90,1,MALE,SINGLE,2,MALE,SINGLE,2.900000095367432
531,3.25,14,FEMALE,MARRIED,2,FEMALE,MARRIED,3.25
532,7.63,8,FEMALE,SINGLE,4,FEMALE,SINGLE,7.630000114440918
533,NaN,28,MALE,MARRIED,3,MALE,MARRIED,nan
534,6.36,8,MALE,MARRIED,1,MALE,MARRIED,6.360000133514404

In [99]:
valores_predeterminados = {'columna1': np.NaN, 'columna3': np.NaN, 'columna4': np.NaN}

In [100]:
pgn_con_valores_predeterminados = pgn.fillna(valores_predeterminados)

In [101]:
pgn

,WAGE,EXPER,GENDER,FAM_STATUS,TENURE,GENDER_PROBLEMS,FAM_STATUS_PROBLEMS,WAGE_PROBLEMS
0,10.00,3,MALE,MARRIED,2,MALE,MARRIED,10.0
1,3.50,2,FEMALE,SINGLE,0,FEMALE,SINGLE,3.5
2,3.30,5,FEMALE,SINGLE,0,FEMALE,SINGLE,3.299999952316284
3,5.00,15,MALE,MARRIED,5,MALE,MARRIED,5.0
4,11.25,28,MALE,MARRIED,25,MALE,MARRIED,11.25
...,...,...,...,...,...,...,...,...
530,2.90,1,MALE,SINGLE,2,MALE,SINGLE,2.900000095367432
531,3.25,14,FEMALE,MARRIED,2,FEMALE,MARRIED,3.25
532,7.63,8,FEMALE,SINGLE,4,FEMALE,SINGLE,7.630000114440918
533,NaN,28,MALE,MARRIED,3,MALE,MARRIED,nan
534,6.36,8,MALE,MARRIED,1,MALE,MARRIED,6.360000133514404